.selectAnimationBtn {
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &.active {
    background-color: white;
    color: black;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 8px;
      border: 2px solid white;
      left: 0px;
      top: 0px;
      opacity: 0;
      animation: dispersion 2s infinite;
    }
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 8px;
      border: 2px solid white;
      left: 0px;
      top: 0px;
      opacity: 0;
      animation-delay: 0.5s;
      animation-duration: 2s;
      animation-name: dispersion;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes dispersion {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scaleY(1.35) scaleX(1.25);
  }

  100% {
    transform: scaleY(1) scaleX(1);
  }
}

.divider {
  margin-bottom: 1.5em;
  inset: auto auto 0% 0%;
}

.lineGradient {
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  height: 1px;
}
